fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pymysql
cryptography
alembic
python-dotenv
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
aiofiles
httpx
weasyprint
jinja2
